<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.avatech.edi.receiptorder.mapper.ReceiptOrderMapper">

    <resultMap id="ReceiptOrderMap" type="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrder">
        <result column="EDIDocEntry" property="eDIDocEntry" jdbcType="BIGINT"/>
        <result column="SapDocEntry" property="sapDocEntry" jdbcType="INTEGER"/>
        <result column="DocDate" property="docDate" jdbcType="DATE"/>
        <result column="DocEntry" property="docEntry" jdbcType="INTEGER"/>
        <result column="Comments" property="comments" jdbcType="NVARCHAR"/>
        <result column="Status" property="status" jdbcType="NVARCHAR"/>
        <result column="UserSign" property="userSign" jdbcType="NVARCHAR"/>
        <result column="DocTime" property="docTime" jdbcType="INTEGER"/>
        <result column="ErrorTime" property="errorTime" jdbcType="INTEGER"/>
        <result column="IsSync" property="isSync" jdbcType="NVARCHAR"/>
        <result column="SyncMessage" property="syncMessage" jdbcType="NVARCHAR"/>
        <result column="SyncDate" property="syncDate" jdbcType="DATE"/>
        <result column="SyncTime" property="syncTime" jdbcType="INTEGER"/>
        <result column="SAPDocEntry" property="sapDocEntry" jdbcType="NVARCHAR"/>
        <result column="Udf1" property="udf1" jdbcType="NVARCHAR"/>
        <result column="Udf2" property="udf2" jdbcType="NVARCHAR"/>
        <result column="Udf3" property="udf3" jdbcType="NVARCHAR"/>
        <result column="Udf4" property="udf4" jdbcType="NVARCHAR"/>
        <result column="Udf5" property="udf5" jdbcType="NVARCHAR"/>
    </resultMap>
    <resultMap id="ReceiptOrderItemMap" type="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrderItem">
        <result column="EDIDocEntry" property="eDIDocEntry" jdbcType="BIGINT"/>
        <result column="EDILineId" property="eDILineId" jdbcType="INTEGER"/>
        <result column="DocEntry" property="docEntry" jdbcType="INTEGER"/>
        <result column="LineNum" property="lineNum" jdbcType="INTEGER"/>
        <result column="ItemCode" property="itemCode" jdbcType="NVARCHAR"/>
        <result column="ItemName" property="itemName" jdbcType="NVARCHAR"/>
        <result column="Qty" property="qty" jdbcType="DECIMAL"/>
        <result column="WareHouse" property="wareHouse" jdbcType="NVARCHAR"/>
        <result column="Project" property="project" jdbcType="NVARCHAR"/>
        <result column="BaseREF" property="baseREF" jdbcType="INTEGER"/>
        <result column="BaseEntry" property="baseEntry" jdbcType="INTEGER"/>
        <result column="BaseLine" property="baseLine" jdbcType="INTEGER"/>
        <result column="OcrCode" property="ocrCode" jdbcType="NVARCHAR"/>
        <result column="OcrCode2" property="ocrCode2" jdbcType="NVARCHAR"/>
        <result column="OcrCode3" property="ocrCode3" jdbcType="NVARCHAR"/>
        <result column="OcrCode4" property="ocrCode4" jdbcType="NVARCHAR"/>
        <result column="OcrCode5" property="ocrCode5" jdbcType="NVARCHAR"/>
        <result column="WorkTime" property="workTime" jdbcType="DECIMAL"/>
        <result column="BatchNum" property="batchNum" jdbcType="NVARCHAR"/>
        <result column="Udf1" property="udf1" jdbcType="NVARCHAR"/>
        <result column="Udf2" property="udf2" jdbcType="NVARCHAR"/>
        <result column="Udf3" property="udf3" jdbcType="NVARCHAR"/>
        <result column="Udf4" property="udf4" jdbcType="NVARCHAR"/>
        <result column="Udf5" property="udf5" jdbcType="NVARCHAR"/>
    </resultMap>
    <resultMap id="ReceiptOrderBatchItemMap" type="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrderBatchItem">
        <result column="EDIDocEntry" property="eDIDocEntry" jdbcType="BIGINT"/>
        <result column="EDILineId" property="eDILineId" jdbcType="INTEGER"/>
        <result column="EDIItemLineId" property="eDIItemLineId" jdbcType="INTEGER"/>
        <result column="DocEntry" property="docEntry" jdbcType="INTEGER"/>
        <result column="ItemLineId" property="itemLineId" jdbcType="INTEGER"/>
        <result column="LineNum" property="lineNum" jdbcType="INTEGER"/>
        <result column="ItemCode" property="itemCode" jdbcType="NVARCHAR"/>
        <result column="Quantity" property="quantity" jdbcType="DECIMAL"/>
        <result column="BatchNum" property="batchNum" jdbcType="NVARCHAR"/>
        <result column="Udf1" property="udf1" jdbcType="NVARCHAR"/>
        <result column="Udf2" property="udf2" jdbcType="NVARCHAR"/>
        <result column="Udf3" property="udf3" jdbcType="NVARCHAR"/>
        <result column="Udf4" property="udf4" jdbcType="NVARCHAR"/>
        <result column="Udf5" property="udf5" jdbcType="NVARCHAR"/>
    </resultMap>


    <insert id="insertReceiptOrder" parameterType="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrder">
         INSERT INTO "AVA_IM_OIGN" (
                 "EDIDocEntry",
                 "DocDate",
                 "DocEntry",
                 "Comments",
                 "Status",
                 "UserSign",
                 "DocTime",
                 "ErrorTime",
                 "Udf1",
                 "Udf2",
                 "Udf3",
                 "Udf4",
                 "Udf5"
          )
         values(
                  #{eDIDocEntry},
                  #{docDate},
                  #{docEntry},
                  #{comments},
                  #{status},
                  #{userSign},
                  #{docTime},
                  #{errorTime},
                  #{udf1},
                  #{udf2},
                  #{udf3},
                  #{udf4},
                  #{udf5}
         )
    </insert>

    <select id="searchReceiptOrders" resultMap="ReceiptOrderMap">
         SELECT TOP 10
                 T0."EDIDocEntry",
                 T1."DocEntry" as "SapDocEntry",
                 T0."DocDate",
                 T0."DocEntry",
                 T0."Comments",
                 T0."Status",
                 T0."UserSign",
                 T0."DocTime",
                 ifnull(T0."ErrorTime",0) "ErrorTime",
                 T0."Udf1",
                 T0."Udf2",
                 T0."Udf3",
                 T0."Udf4",
                 T0."Udf5"
         from "AVA_IM_OIGN" T0 left join OWOR T1 ON T0."DocEntry" = T1."DocNum"
         WHERE ifnull(T0."IsSync",'N') <![CDATA[ <> ]]> 'Y' AND ifnull(T0."ErrorTime",0) &lt; 5
    </select>

    <insert id="insertReceiptOrderItem" parameterType="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrderItem">
         INSERT INTO "AVA_IM_IGN1" (
                 "EDIDocEntry",
                 "EDILineId",
                 "DocEntry",
                 "LineNum",
                 "ItemCode",
                 "ItemName",
                 "Qty",
                 "WareHouse",
                 "Project",
                 "BaseREF",
                 "BaseEntry",
                 "BaseLine",
                 "OcrCode",
                 "OcrCode2",
                 "OcrCode3",
                 "OcrCode4",
                 "OcrCode5",
                 "WorkTime",
                 "BatchNum",
                 "Udf1",
                 "Udf2",
                 "Udf3",
                 "Udf4",
                 "Udf5"
          )
         values(
                  #{eDIDocEntry},
                  #{eDILineId},
                  #{docEntry},
                  #{lineNum},
                  #{itemCode},
                  #{itemName},
                  #{qty},
                  #{wareHouse},
                  #{project},
                  #{baseREF},
                  #{baseEntry},
                  #{baseLine},
                  #{ocrCode},
                  #{ocrCode2},
                  #{ocrCode3},
                  #{ocrCode4},
                  #{ocrCode5},
                  #{workTime},
                  #{batchNum},
                  #{udf1},
                  #{udf2},
                  #{udf3},
                  #{udf4},
                  #{udf5}
         )
    </insert>

    <select id="searchReceiptOrderItems" resultMap="ReceiptOrderItemMap" parameterType="Long">
         SELECT
                 T0."EDIDocEntry",
                 T0."EDILineId",
                 T0."DocEntry",
                 T0."LineNum",
                 T0."ItemCode",
                 T0."ItemName",
                 T0."Qty",
                 T0."WareHouse",
                 T0."Project",
                 T0."BaseREF",
                 T1."DocEntry" as "BaseEntry",
                 T0."BaseLine",
                 T0."OcrCode",
                 T0."OcrCode2",
                 T0."OcrCode3",
                 T0."OcrCode4",
                 T0."OcrCode5",
                 T0."WorkTime",
                 T0."BatchNum",
                 T0."Udf1",
                 T0."Udf2",
                 T0."Udf3",
                 T0."Udf4",
                 T0."Udf5"
         from "AVA_IM_IGN1" T0 INNER JOIN OWOR T1 ON T0."DocEntry" = T1."DocNum"
         WHERE T0."EDIDocEntry" = #{ediDocEntry}
    </select>

    <insert id="insertReceiptOrderBatchItem" parameterType="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrderBatchItem">
         INSERT INTO "AVA_IM_IGN2" (
                 "EDIDocEntry",
                 "EDILineId",
                 "EDIItemLineId",
                 "DocEntry",
                 "ItemLineId",
                 "LineNum",
                 "ItemCode",
                 "Quantity",
                 "BatchNum",
                 "Udf1",
                 "Udf2",
                 "Udf3",
                 "Udf4",
                 "Udf5"
          )
         values(
                  #{eDIDocEntry},
                  #{eDILineId},
                  #{eDIItemLineId},
                  #{docEntry},
                  #{itemLineId},
                  #{lineNum},
                  #{itemCode},
                  #{quantity},
                  #{batchNum},
                  #{udf1},
                  #{udf2},
                  #{udf3},
                  #{udf4},
                  #{udf5}
         )
    </insert>

    <select id="searchReceiptOrderBatchItems" resultMap="ReceiptOrderBatchItemMap" parameterType="HashMap">
         SELECT
                 T0."EDIDocEntry",
                 T0."EDILineId",
                 T0."EDIItemLineId",
                 T0."DocEntry",
                 T0."ItemLineId",
                 T0."LineNum",
                 T0."ItemCode",
                 T0."Quantity",
                 T0."BatchNum",
                 T0."Udf1",
                 T0."Udf2",
                 T0."Udf3",
                 T0."Udf4",
                 T0."Udf5"
         from "AVA_IM_IGN2" T0 WHERE T0."EDIDocEntry" = #{EDIDocEntry} AND T0."EDIItemLineId" = #{EDIItemLineId}
    </select>
    <update id="updateReceiptOrder" parameterType="com.avatech.edi.receiptorder.model.bo.receiptorder.ReceiptOrder">
        UPDATE "AVA_IM_OIGN" SET "IsSync" = #{isSync}
                                 ,"SyncMessage" = #{syncMessage}
                                 ,"SyncDate" = #{syncDate}
                                 ,"SyncTime" = #{syncTime}
                                 ,"ErrorTime" = #{errorTime}
                                 ,"SAPDocEntry" = #{sapDocEntry}
                                 WHERE "EDIDocEntry" = #{eDIDocEntry}
    </update>

    <resultMap id="ProductionOrderMap" type="com.avatech.edi.receiptorder.model.bo.receiptorder.ProductionOrder">
        <result column="DocEntry" property="docEntry" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="ProductionItemOrderMap" type="com.avatech.edi.receiptorder.model.bo.receiptorder.ProductionItemOrder">
        <result column="DocEntry" property="docEntry" jdbcType="INTEGER"/>
        <result column="LineNum" property="lineNum" jdbcType="INTEGER"/>
        <result column="ItemCode" property="itemNo" jdbcType="NVARCHAR"/>
        <result column="Quantity" property="baseQuantity" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="fetchProductionOrder" resultMap="ProductionOrderMap" parameterType="Integer">
        select "DocEntry" from OWOR where "DocEntry" = #{docEntry}
    </select>

    <select id="fetchProductionItemOrder" resultMap="ProductionItemOrderMap" parameterType="Integer">
          select "DocEntry","LineNum","ItemCode","BaseQty" from WOR1 where "DocEntry" = #{docEntry}
    </select>
</mapper>