<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.avatech.edi.materialstock.mapper.MaterialStockMapper">

     <resultMap id="MaterialStockMap" type="com.avatech.edi.materialstock.model.bo.materialstock.MaterialStock">
                <result column="ItemCode" property="itemCode" jdbcType="NVARCHAR"/>
                <result column="ItemName" property="itemName" jdbcType="NVARCHAR"/>
                <result column="Quantity" property="quantity" jdbcType="DECIMAL"/>
                <result column="WhsCode" property="whsCode" jdbcType="NVARCHAR"/>
                <result column="BatchNum" property="batchNum" jdbcType="NVARCHAR"/>
                <result column="UserSign" property="userSign" jdbcType="NVARCHAR"/>
                <result column="DocTime" property="docTime" jdbcType="DATE"/>
                <result column="DocDate" property="docDate" jdbcType="DATE"/>
                <result column="Udf1" property="udf1" jdbcType="NVARCHAR"/>
                <result column="Udf2" property="udf2" jdbcType="NVARCHAR"/>
                <result column="Udf3" property="udf3" jdbcType="NVARCHAR"/>
                <result column="Udf4" property="udf4" jdbcType="NVARCHAR"/>
                <result column="Udf5" property="udf5" jdbcType="NVARCHAR"/>
     </resultMap>
     <resultMap id="MaterialStockItemMap" type="com.avatech.edi.materialstock.model.bo.materialstock.MaterialStockItem">
                <result column="DocEntry" property="itemCode" jdbcType="INTEGER"/>
                <result column="ItemLineId" property="itemName" jdbcType="INTEGER"/>
                <result column="LineNum" property="quantity" jdbcType="INTEGER"/>
                <result column="ItemCode" property="whsCode" jdbcType="NVARCHAR"/>
                <result column="Quantity" property="batchNum" jdbcType="DECIMAL"/>
                <result column="BatchNum" property="userSign" jdbcType="NVARCHAR"/>
                <result column="Udf1" property="udf1" jdbcType="NVARCHAR"/>
                <result column="Udf2" property="udf2" jdbcType="NVARCHAR"/>
                <result column="Udf3" property="udf3" jdbcType="NVARCHAR"/>
                <result column="Udf4" property="udf4" jdbcType="NVARCHAR"/>
                <result column="Udf5" property="udf5" jdbcType="NVARCHAR"/>
     </resultMap>


     <insert id="insertMaterialStock" parameterType="com.avatech.edi.materialstock.model.bo.materialstock.MaterialStock">
         INSERT INTO "AVA_IM_OITW" (
                 "ItemCode"
                 ,"ItemName"
                 ,"Quantity"
                 ,"WhsCode"
                 ,"BatchNum"
                 ,"UserSign"
                 ,"DocTime"
                 ,"DocDate"
                 ,"Udf1"
                 ,"Udf2"
                 ,"Udf3"
                 ,"Udf4"
                 ,"Udf5")
         values(
                  #{ItemCode}
                  ,#{ItemName}
                  ,#{Quantity}
                  ,#{WhsCode}
                  ,#{BatchNum}
                  ,#{UserSign}
                  ,#{DocTime}
                  ,#{DocDate}
                  ,#{Udf1}
                  ,#{Udf2}
                  ,#{Udf3}
                  ,#{Udf4}
                  ,#{Udf5}
         )
     </insert>

     <select id="searchMaterialStock" resultMap="MaterialStockMap">
         SELECT  T0."ItemCode"
                 ,T0."ItemName"
                 ,T0."Quantity"
                 ,T0."WhsCode"
                 ,T0."BatchNum"
                 ,T0."UserSign"
                 ,T0."DocTime"
                 ,T0."DocDate"
                 ,T0."Udf1"
                 ,T0."Udf2"
                 ,T0."Udf3"
                 ,T0."Udf4"
                 ,T0."Udf5"
         from "AVA_IM_OITW" T0
     </select>

     <insert id="insertMaterialStockItem" parameterType="com.avatech.edi.materialstock.model.bo.materialstock.MaterialStockItem">
         INSERT INTO "AVA_IM_ITW1" (
                 ,"DocEntry"
                 ,"ItemLineId"
                 ,"LineNum"
                 ,"ItemCode"
                 ,"Quantity"
                 ,"BatchNum"
                 ,"Udf1"
                 ,"Udf2"
                 ,"Udf3"
                 ,"Udf4"
                 ,"Udf5")
         values(
                  ,#{ItemCode}
                  ,#{ItemName}
                  ,#{Quantity}
                  ,#{WhsCode}
                  ,#{BatchNum}
                  ,#{UserSign}
                  ,#{Udf1}
                  ,#{Udf2}
                  ,#{Udf3}
                  ,#{Udf4}
                  ,#{Udf5}
         )
     </insert>

     <select id="searchMaterialStockItem" resultMap="MaterialStockItemMap">
         SELECT  T0."DocEntry"
                 ,T0."ItemLineId"
                 ,T0."LineNum"
                 ,T0."ItemCode"
                 ,T0."Quantity"
                 ,T0."BatchNum"
                 ,T0."Udf1"
                 ,T0."Udf2"
                 ,T0."Udf3"
                 ,T0."Udf4"
                 ,T0."Udf5"
         from "AVA_IM_ITW1" T0
    </select>
    <delete id="deleteAllMaterialStock">
        DELETE * FROM AVA_IM_OITW;
    </delete>

    <delete id="deleteAllMaterialStockItem">
        DELETE * FROM AVA_IM_ITW1;
    </delete>
</mapper>