<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.avatech.edi.materials.mapper.MaterialInventoryMapper">

         <resultMap id="MaterialInventoryMap" type="com.avatech.edi.materials.model.bo.materialinventory.MaterialInventory">
                    <result column="ItemCode" property="itemCode" jdbcType="NVARCHAR"/>
                    <result column="ItemName" property="itemName" jdbcType="NVARCHAR"/>
                    <result column="GroupCode" property="groupCode" jdbcType="DECIMAL"/>
                    <result column="GroupName" property="groupName" jdbcType="NVARCHAR"/>
                    <result column="PackUnit" property="packUnit" jdbcType="NVARCHAR"/>
                    <result column="OnHand" property="onHand" jdbcType="INTEGER"/>
                    <result column="Price" property="price" jdbcType="INTEGER"/>
         </resultMap>

         <select id="searchMaterialInventory" resultMap="MaterialInventoryMap" parameterType="com.avatech.edi.materials.model.dto.MaterialParam">
             SELECT		 T0."ItemCode",
                         T0."WhsCode",
                         T0."ItemName",
                         T0."GroupCode",
                         T0."GroupName",
                         T0."PackUnit",
                         T0."OnHand",
                         T0."Price"
             from AVA_IM_VIEW_OITW T0 ,(
                 SELECT ROW_NUMBER() over(order by "ItemCode" asc) as "RowId","ItemCode","WhsCode"
                          FROM AVA_IM_VIEW_OITW
                          WHERE 1= 1
                         <if test="itemCode != null and itemCode != ''">
                             and T0."ItemCode" = #{itemCode}
                         </if>
                         <if test="whsCode != null and whsCode != ''">
                             and T0."WhsCode" = #{whsCode}
                         </if>
                         <if test="groupCode != null and groupCode != ''">
                             and T0."GroupCode" = #{groupCode}
                         </if>
             ) T1
             where T0."ItemCode" = T1."ItemCode" and T0."WhsCode" = T1."WhsCode"
             and T1."RowId" between #{beginIndex} and #{endIndex};
         </select>

</mapper>