<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.avatech.edi.materials.mapper.MaterialInventoryMapper">

         <resultMap id="MaterialInventoryMap" type="com.avatech.edi.materials.model.bo.materialinventory.MaterialInventory">
                    <result column="ItemCode" property="itemCode" jdbcType="VARCHAR"/>
                    <result column="ItemName" property="itemName" jdbcType="VARCHAR"/>
                    <result column="GroupCode" property="groupCode" jdbcType="DECIMAL"/>
                    <result column="GroupName" property="groupName" jdbcType="VARCHAR"/>
                    <result column="PackUnit" property="packUnit" jdbcType="VARCHAR"/>
                    <result column="OnHand" property="onHand" jdbcType="INTEGER"/>
                    <result column="Price" property="price" jdbcType="INTEGER"/>
         </resultMap>

         <insert id="insertMaterialInventory" parameterType="com.avatech.edi.materials.model.bo.materialinventory.MaterialInventory">
             INSERT INTO "AVA_IM_OITW" (
                     "ItemCode",
                     "ItemName",
                     "GroupCode",
                     "GroupName",
                     "PackUnit",
                     "OnHand",
                     "Price"
              )
             values(
                      #{itemCode},
                      #{itemName},
                      #{groupCode},
                      #{groupName},
                      #{packUnit},
                      #{onHand},
                      #{price}
             )
         </insert>

         <select id="searchMaterialInventorys" resultMap="MaterialInventoryMap">
             SELECT
                     '' "ItemCode",
                     '' "ItemName",
                     '' "GroupCode",
                     '' "GroupName",
                     '' "PackUnit",
                     '' "OnHand,jdbcType=INTEGER",
                     '' "Price,jdbcType=INTEGER"
             from "OITW" T0
         </select>

</mapper>